# Basic git and IDE files
.git
.gitignore
README.md
HELP.md

# Build outputs
target/
.mvn/wrapper/maven-wrapper.jar

# IDE files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private
nbbuild
dist
nbdist
.nb-gradle
build/

# VS Code
.vscode/

# Fly.io
fly.toml

# Temporary files
*.tmp
*.log