app = 'todo-backend-alyu2a5'
primary_region = 'bom'

[build]

[http_service]
internal_port = 8081
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[env]
MYSQL_HOST = "db"
MYSQL_DATABASE = "tododb"
MYSQL_USERNAME = "root"
# MYSQL_PASSWORD will need to be set via fly secrets

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1