server:
  port: 8081
  address: 0.0.0.0
spring:
  datasource:
    url: jdbc:sqlite:./tododb.sqlite
    driver-class-name: org.sqlite.JDBC
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        show_sql: true
        format_sql: true
  sql:
    init:
      platform: sqlite

logging:
  level:
    org.springframework: DEBUG
    org.hibernate: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v1/api-docs